@font-face
{
	font-family: "Ubuntu";
	src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
        font-family: "Ubuntu";
        src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
}

@font-face
{
        font-family: "Ubuntu";
        src: url("../fonts/Ubuntu-Italic.ttf") format("truetype");
        font-weight: normal;
        font-style: italic;
}

@font-face
{
        font-family: "Ubuntu";
        src: url("../fonts/Ubuntu-BoldItalic.ttf") format("truetype");
        font-weight: bold;
        font-style: italic;
}

em
{
	font-style: italic;
}

strong
{
	font-weight: bold;
}

body
{
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

main
{
	font-family: "Ubuntu";
}

header
{
	background-color: #f9a826;
	padding: 1px;
	position: fixed;
	right: 0%;
        left: 0%;
	top: 0%;
	border-bottom: white solid 0.5px;
	z-index: 10;
}

article
{
	position: fixed;
	right: 0%;
        left: 0%;
	padding: 20px;
	text-align: left;
	position: absolute;
	top: 42px;
	bottom: 0px;
	padding-top: 0px;
	overflow-y: scroll;
}

p
{
	line-height: 30px;
}

nav
{
	text-align: left;
	position: absolute;
	right: 0%;
        left: 0%;
	padding: 20px;
	padding-top: 0px;
	top: 42px;
	bottom: 0px;
	overflow-y: scroll;
}

button
{
	border: none;
	padding: 0px;
	background: none;
}

h1
{
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
}

h2
{
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
}

button
{
	cursor: pointer;
}

a
{
	color: blue;
}

a:hover
{
	color: darkblue;
}

.link
{
	text-decoration: none;
	color: black;
}

.link:hover
{
	text-decoration: underline;
	color: black;
}

.title
{
	font-size: 25px;
	margin-bottom: -10px;
}

.summary
{
	margin-bottom: 0px;
}

.name
{
	font-size: 20px;
	margin-top: 10px;
}

.date
{
	line-height: 1px;
	color: #555555;
}

.page
{
	left: 10%;
	position: relative;
	width: 80%;
	position-top: absolute;
	text-align: center;
	display: flex;
	width: 75%;
        height: 120%;
}

.pages
{
	position: fixed;
        right: 0%;
        left: 0%;
        padding: 20px;
        text-align: left;
        position: absolute;
        top: 42px;
        bottom: 0px;
        overflow-y: scroll;
	display: grid;
	grid-gap: 40px;
}

.page-heading
{
	padding-bottom: 20px;
}

.post
{
	background-color: #f9a826;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.page-figure
{
	width: 400%;
	height: 70%;
	padding-right: 20px;
	padding-top: 5%;
	//top: -10%;
	//position: relative;
}
